@font-face {
  font-family: 'Akg1';
  src: url('fonts/Akzidenz-Grotesk-BQ-Light-Extended_2826.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Akg';
  src: url('fonts/Akzidenz-Grotesk-BQ-Light-Condensed_2824.ttf') format('truetype'); 
}


h1 {
  text-align: center;
  font-family: 'Akg';
  font-size:48px;
  padding-top: 10%;
  }

  body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  button{
    
    width:50%;
    margin-left:25%;
    margin-right:25%;
    height: 10%;
    font-size: 200%;
    font-family: 'Akg1';
    background-color: rgba(250, 235, 215, 0.382);
    border-radius: 10px;
  
}